*checkpoints/
*co-tracker/
*example_videos/
*input_data*/
*output_data*/
*output_data-old/
*saved_videos/
*output*/
*ablation*/
*3d_video/
*.mp4
*.pth
*.pyc
*.pyo
*.ckpt
*.npy
*.log
.vscode 
.artienv
.idea/
*.egg-info/
*.save
*.zip
*.tar
*.csv

third-party/gtsam/build/
third-party/gtsam-install/

artgs_out*/
ditto_out*/
bbox_out*/
arti4d_sturm_original*/
sturm_bbox*/
bbox*/
